/* default: for desktop and tablet */
.section-title {
    position: relative;
    margin-bottom: 50px;
    font-size: 28px;
    color: #2f2f2f;

    &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        height: 3px;
        // background-color: #a5a5a5;
        width: 28px;
        left: 0;
    }
}

.experience-blocks-container {
    padding: 20px 0 20px 50px;
    border-left: 3px solid #a5a5a5;
}

/* for mobile */
@media (max-width: 599px) {
    .section-title {
        display: relative;
        font-size: 20px;
        margin: 10px 0 30px;

        &:after {
            content: "";
            position: absolute;
            top: 40px;
            left: 0;
            width: 35px;
            height: 4px;
            background-color: #c3c3c3;
        }
    }

    .experience-blocks-container {
        padding: 0;
        border: none;
    }
}
