/* default: for desktop and tablet */
.container {
    width: 100%;
}

.section-container {
    width: 100%;
    padding: 100px 0;
    background-color: #fbfbfb;

    &.gray {
        background-color: #f3f3f3;
    }
}

.content {
    width: 960px;
    margin: auto;
}

/* for tablet */
@media (max-width: 1023px) {
    .content {
        width: calc(100% - 100px);
    }

    .section-container {
        padding: 60px 0;
    }
}

/* for mobile */
@media (max-width: 599px) {
    .content {
        width: calc(100% - 30px);
    }

    .section-container {
        padding: 30px 0;
    }
}
