/* default: for desktop and tablet */

.intro-wrapper {
    display: flex;
    flex-direction: row;

    margin-top: 50px;
}

.intro-img-container {
    width: 300px;
    height: 400px;
    background-image: url(./assets/images/me.jpg);
    background-size: cover;
    background-position: center;
}

.intro-text {
    display: flex;
    align-items: center;
    margin-left: 90px;
    line-height: 1.5;
    max-width: 480px;
}

/* for tablet */
@media (max-width: 1023px) {
    .intro-wrapper {
        margin-top: 30px;
    }

    .intro-img-container {
        width: 250px;
        height: 350px;
    }

    .intro-text {
        margin-left: 50px;
        max-width: calc(100% - 310px);
        // max-width: 300px;
    }
}

/* for mobile */
@media (max-width: 599px) {
    .intro-wrapper {
        flex-direction: column;
        margin-top: 20px;
    }

    .intro-img-container {
        width: 100%;
        margin: auto;
        height: 360px;
    }

    .intro-text {
        margin: 30px 0;
        width: 100%;
        max-width: 100%;
    }
}
